<div class="header">
    <div class="logo" (click)="navigateHome()">L&Ch</div>

    <div class="menu-trigger" [class.active]="menuOpen">
        <button 
            class="hamburger" 
            type="button" 
            title="open menu"
            (click)="toogleMenu()">
            <span class="hamburger-box"><span class="hamburger-inner"></span></span>
        </button>
    </div>

    <nav class="main-menu">
        <ul>
            <li *ngFor="let item of menuItems">
                <a 
                    [routerLink]="item.route"
                    routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{ exact: true }"
                    (click)="closeMenu()">
                    {{ item.label }}
                </a>
            </li>
        </ul>
    </nav>
</div>