.footer {
    text-align: center;
    margin-top: 60px;
    padding: 20px 20px 40px;
    position: relative;
    padding-top: 40px;
    overflow-x: hidden;
}



.footer::before {
    content: "💍💐💞🎉🌸💖🥂✨🎀🌈🍰🍾🎊🎂🌷💍💐💞🎉🌸💖🥂✨🎀🌈🍰🍾🎊🎂🌷💍💐💞🎉🌸💖🥂✨🎀🌈🍰🍾🎊🎂🌷💍💐💞🎉🌸💖🥂✨🎀🌈🍰🍾🎊🎂🌷💍💐💞🎉🌸💖🥂✨🎀🌈🍰🍾🎊🎂🌷💍💐💞🎉🌸💖🥂✨🎀🌈🍰🍾🎊🎂🌷💍💐💞🎉🌸💖🥂✨🎀🌈🍰🍾🎊🎂🌷💍💐💞🎉🌸💖🥂✨🎀🌈🍰🍾🎊🎂🌷";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 24px;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    width: max-content;
}