<app-header *ngIf="preloadHome"></app-header>

<app-welcome *ngIf="showConfetti" [@fadeInOut]></app-welcome>

<div *ngIf="showWelcome" [@fadeInOut] class="image-bg">
  <ng-container *ngIf="!isMobile || !showMobileButton">
    <p><span class="t-top">CH</span><span class="t-bottom">&L</span></p>
  </ng-container>

  <button *ngIf="isMobile && showMobileButton" (click)="skipWelcome()" class="welcome-button">
    Continuar
  </button>
</div>

<ng-container *ngIf="preloadHome">
    <router-outlet></router-outlet>
</ng-container>

<app-footer *ngIf="preloadHome"></app-footer>
