/* You can add global styles to this file, and also import other style files */

:root {
    /* --color-primary: #f7018b; */
    --color-primary: #d60382;

    /* option 1:  */
    --color-secondary: #32812C;
    --color-primary-sat: #812C5F;
    --color-secondary-sat: #243323;

    /* option 2:  */
    /* --color-secondary: #41572C;
    --color-primary-sat: #572C46;
    --color-secondary-sat: #2C5738; */

    /* option 3:  */
    /* --color-secondary: #2C5457;
    --color-primary-sat: #812C5F;
    --color-secondary-sat: #2C5457; */

    /* option 4:  */
    /* --color-secondary: #2C3D57;
    --color-primary-sat: #812C5F;
    --color-secondary-sat: #2C3D57; */


    --color-primary-rgb: 214, 2, 130;
    --color-primary-sat-rgb: 129, 44, 95;
}

/*
FONTS
*/

/* bodoni-moda-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Bodoni Moda';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/bodoni-moda-v25-latin/bodoni-moda-v25-latin-regular.woff2') format('woff2');
}

/* bodoni-moda-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Bodoni Moda';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/fonts/bodoni-moda-v25-latin/bodoni-moda-v25-latin-600.woff2') format('woff2');
}

/* bodoni-moda-800 - latin */
@font-face {
    font-display: swap;
    font-family: 'Bodoni Moda';
    font-style: normal;
    font-weight: 800;
    src: url('./assets/fonts/bodoni-moda-v25-latin/bodoni-moda-v25-latin-800.woff2') format('woff2');
}

/* raleway-300 - latin */
@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/raleway-v34-latin/raleway-v34-latin-300.woff2') format('woff2');
}

/* raleway-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/raleway-v34-latin/raleway-v34-latin-regular.woff2') format('woff2');
}

/* raleway-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/raleway-v34-latin/raleway-v34-latin-500.woff2') format('woff2');
}

/* outfit-800 - latin */
@font-face {
    font-display: swap;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 800;
    src: url('./assets/fonts/outfit-v11-latin/outfit-v11-latin-800.woff2') format('woff2');
}

/* outfit-900 - latin */
@font-face {
    font-display: swap;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 900;
    src: url('./assets/fonts/outfit-v11-latin/outfit-v11-latin-900.woff2') format('woff2');
}




/*
GENERAL
*/

body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
}

button {
    font-family: "Raleway", sans-serif;
}

.outfit {
    font-family: "Outfit", sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
    font-family: "Bodoni Moda", serif;
}

h2 {
    font-size: calc(2.5rem + .5vw);
    line-height: 1;
}

.c-primary {
    color: var(--color-primary);
}

.c-secondary {
    color: var(--color-secondary);
}

.c-primary-sat {
    color: var(--color-primary-sat);
}

.c-secondary-sat {
    color: var(--color-secondary-sat);
}



/* SPINNER */

.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.spinner {
    border: 6px solid #eee;
    border-top: 6px solid #333;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 0.9s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


/* IMAGE INTRO */

.image-bg-intro {
    width: 100%;
    height: 600px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.image-bg-intro p {
    margin: 0;
    width: 100%;
    font-size: clamp(4rem, 10vw, 10rem);
    line-height: 1;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

    color: transparent;
    -webkit-text-stroke: 1px #fff;

    font-family: 'Bodoni', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .image-bg-intro p {
        -webkit-text-stroke: 2px white;
    }
}

@media screen and (min-width: 1500px) {
    .image-bg-intro {
        height: 800px;
    }

    .image-bg-intro p {
        -webkit-text-stroke: 3px white;
    }
}


/* WELCOME and BACK BUTTONS */

.welcome-button,
.back-button {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 10px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;

}

.welcome-button:after,
.back-button:after {
    content: "";
    background-color: rgba(var(--color-primary-rgb), 1);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.welcome-button:hover:after,
.back-button:hover:after {
    top: 0px;
    left: 0px;
}